# For Loop (Simple) - Questions

In [14]:
''' 1. Write a Python program to print expected output from the data given below.   
    Data:
         country = ["India", "Canada", "Sweden"]    
    Expected Output:
    India
    Canada
    Sweden '''  
country = ["India", "Canada", "Sweden"] 
for a in country:
       print(a)

India
Canada
Sweden

In [15]:
''' 2. Write a Python program to print expected output from the data given below. 
    Data:
         string = "banana"
    Expected Output: 
    b
    a
    n
    a
    n
    a '''
string = "banana"
for char in string:
    print(char)

b
a
n
a
n
a

In [16]:
''' 3. Write a Python program to print expected output using break statement from the data given below.    
    Data:
        country = ["India", "Canada", "Sweden"]      
    Expected Output: 
    India
    Canada '''
country = ["India", "Canada", "Sweden"]  
for c in country:
    if c=="Sweden":
        break
    print(c)

India
Canada

In [ ]:
''' 4. Write a Python program to print expected output using continue statement from the data given below.
    Data:
        country = ["India", "Canada", "Sweden"]
    Expected Output: 
    India
    Sweden '''

In [ ]:
#5. Write a Python program to having an empty for loop like this, would raise an error without the pass statement.

In [17]:
''' 6. Write a Python program to print expected output using range in for loop.
    Expected Output:
    0
    1
    2
    3
    4
    5 '''
for i  in range(6):
    print(i)

0
1
2
3
4
5

In [18]:
''' 7. Write a Python program to print expected output by passing range parameters as (2, 6).
    Expected Output:
    2
    3
    4
    5 '''
for i in range(2,6):
    print(i)

2
3
4
5

In [19]:
'''8. Write a Python program to print expected output, range between 2 to 30 and increment the sequence by 3.
    Expected Output:
    2
    5
    8
    11
    14
    17
    20
    23
    26
    29 '''
for i in range(2,30,3):
    print(i)

2
5
8
11
14
17
20
23
26
29

In [ ]:
''' 9. Write a Python program to print all numbers from 0 to 5, and print a message when the loop has ended.
    Expected Output:
    0
    1
    2
    3
    4
    5
    Finally finished! '''

In [36]:
''' 10. Write a Python program to print each adjective for every fruits using nested for loop from the data given below.
    Data:
        adjective = ["red", "big", "tasty"]
        fruits = ["apple", "banana", "cherry"]
    Expected Output:
        red apple
        red banana
        red cherry
        big apple
        big banana
        big cherry
        tasty apple
        tasty banana
        tasty cherry '''
for i in adj:
    for fruit in fruits:
        print(f"{i} {fruits}")

NameError: name 'adj' is not defined

In [32]:
''' 11. Write a Python program to convert list of tuples into dictionary using setdefault() method.
    Data:
        l = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]
    Expected Output:
        {'x': [1, 2, 3], 'y': [1, 2], 'z': [1]} '''
for key.value in 1:
    d.setdefault(key, []).append(value)
    print(d)

TypeError: 'int' object is not iterable

In [ ]:
''' 12. Write a Python program to print the count of no. of elements in a list until an element in a list is a tuple using isinstance() method.
    Data:
        x = [10,20,30,(10,20),40]
    Expected Output: 3 '''

In [ ]:
''' 13. Write a Python program to access the index of elements in a list. 
    Data:
        x = [5, 15, 35, 8, 98]
    Expected Output:
        0 5
        1 15
        2 35
        3 8
        4 98 '''

In [ ]:
''' 14. Write a Python program to create multiple lists.
    Expected output:
        {'1': [], '2': [], '3': [], '4': [], '5': [], '6': [], '7': [], '8': [], '9': [], '10': []} '''

In [23]:
''' 15. Write a Python program to create a list of empty dictionaries.
    Data:
        n = 5
    Expected Output:
        [{}, {}, {}, {}, {}] '''
        
n=[{} for _ in range(n)]
print(n)

NameError: name 'n' is not defined

In [28]:
''' 16. Write a Python program to iterate over two lists simultaneously.
    Data:
        x = [1, 2, 3]
        name = ['boss', 'sai', 'bala']
    Expected Output:
        1 boss
        2 sai
        3 bala '''
for i,n in zip(x, name):
    print(i, n)

IndentationError: unexpected indent (3519855822.py, line 9)

In [30]:
''' 17. Write a Python program print all elements of the list using for loop and range().
    Data:
        name = ['boss', 'sai', 'bala']
    Expected Output:
        boss
        sai
        bala '''
for i range(len(name)):
      print(name[i])

SyntaxError: invalid syntax (2984290030.py, line 8)

In [20]:
# 18. Write a Python program to print without newline or space.

for i in range(5):
    print(i,end="")

01234

In [ ]:
''' 19. Write a Python program to print expected output using enumerate() from the data given below.
    Data:
        x = ["suresh", "boss", "siva", "bala", "sai", "balu", "karthi"] 
    Expected Output:
        President 1: suresh
        President 2: boss
        President 3: siva
        President 4: bala
        President 5: sai
        President 6: balu
        President 7: karthi '''

In [ ]:
''' 20. Write a Python program to print expected output using enumerate() from the data given below.
    Data:
        name = ["suresh", "boss", "siva", "bala"]
        ratios = [0.2, 0.3, 0.1, 0.4]
    Expected Output:
        20.0% suresh
        30.0% boss
        50.0% siva
        40.0% bala '''
for