# For Loop (Simple) - Questions

In [42]:
''' 1. Write a Python program to print expected output from the data given below.   
    Data:
         country = ["India", "Canada", "Sweden"]    
    Expected Output:
    India
    Canada
    Sweden ''' 
    
country = ["India", "Canada", "Sweden"]
for c in country:
    print(c)

India
Canada
Sweden

In [43]:
''' 2. Write a Python program to print expected output from the data given below. 
    Data:
         string = "banana"
    Expected Output: 
    b
    a
    n
    a
    n
    a   '''

string = "banana"
for char in string:
    print(char)

b
a
n
a
n
a

In [44]:
''' 3. Write a Python program to print expected output using break statement from the data given below.    
    Data:
        country = ["India", "Canada", "Sweden"]      
    Expected Output: 
    India
    Canada '''
country = ["India", "Canada", "Sweden"]

for c in country[:2]:
    print(c)

India
Canada

In [46]:
''' 4. Write a Python program to print expected output using continue statement from the data given below.
    Data:
        country = ["India", "Canada", "Sweden"]
    Expected Output: 
    India
    Sweden '''
   
country = ["India", "Canada", "Sweden"]
for c in country:
    if c != "Canada":
        print(c)

India
Sweden

In [57]:
#5. Write a Python program to having an empty for loop like this, would raise an error without the pass statement.
for i in range(5):
    print(i)

0
1
2
3
4

In [47]:
''' 6. Write a Python program to print expected output using range in for loop.
    Expected Output:
    0
    1
    2
    3
    4
    5 '''
for i in range(6):
    print(i)

0
1
2
3
4
5

In [48]:
''' 7. Write a Python program to print expected output by passing range parameters as (2, 6).
    Expected Output:
    2
    3
    4
    5 '''
for i in range(2,6):
    print(i)

2
3
4
5

In [50]:
'''8. Write a Python program to print expected output, range between 2 to 30 and increment the sequence by 3.
    Expected Output:
    2
    5
    8
    11
    14
    17
    20
    23
    26
    29 '''
for i in range(2, 30, 3):
    print(i)

2
5
8
11
14
17
20
23
26
29

In [51]:
''' 9. Write a Python program to print all numbers from 0 to 5, and print a message when the loop has ended.
    Expected Output:
    0
    1
    2
    3
    4
    5
    Finally finished! '''
for i in range(6):
    print(i)
print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [52]:
''' 10. Write a Python program to print each adjective for every fruits using nested for loop from the data given below.
    Data:
        adjective = ["red", "big", "tasty"]
        fruits = ["apple", "banana", "cherry"]
    Expected Output:
        red apple
        red banana
        red cherry
        big apple
        big banana
        big cherry
        tasty apple
        tasty banana
        tasty cherry '''
adj= ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for adj in adjective:
    for fruit in fruits:
        print(adj,fruit)

NameError: name 'adjective' is not defined

In [53]:
''' 11. Write a Python program to convert list of tuples into dictionary using setdefault() method.
    Data:
        l = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]
    Expected Output:
        {'x': [1, 2, 3], 'y': [1, 2], 'z': [1]} '''
for key,value in 1:
    result.setdefault(key,[]).append(value)
     print(result)

IndentationError: unexpected indent (3228962882.py, line 8)

In [ ]:
''' 12. Write a Python program to print the count of no. of elements in a list until an element in a list is a tuple using isinstance() method.
    Data:
        x = [10,20,30,(10,20),40]
    Expected Output: 3 '''

 for item in x:
        if type(item) == tuple:
            break
        count+=1
    print(count)

In [ ]:
''' 13. Write a Python program to access the index of elements in a list. 
    Data:
        x = [5, 15, 35, 8, 98]
    Expected Output:
        0 5
        1 15
        2 35
        3 8
        4 98 '''
   for index in range(len(x)):
       print(index, x[index])

In [ ]:
''' 14. Write a Python program to create multiple lists.
    Expected output:
        {'1': [], '2': [], '3': [], '4': [], '5': [], '6': [], '7': [], '8': [], '9': [], '10': []} '''

result={]
for i in range(1,11):
   result [str(i)] =[]
print(result)

In [63]:
''' 15. Write a Python program to create a list of empty dictionaries.
    Data:
        n = 5
    Expected Output:
        [{}, {}, {}, {}, {}] '''
        
n = 5
result = [{} for _ in range(n)]
print(result)

[{}, {}, {}, {}, {}]

In [61]:
''' 16. Write a Python program to iterate over two lists simultaneously.
    Data:
        x = [1, 2, 3]
        name = ['boss', 'sai', 'bala']
    Expected Output:
        1 boss
        2 sai
        3 bala '''
        
x = [1, 2, 3]
name = ['boss', 'sai', 'bala']
for num, n in zip(x, name):
    print(num, n)

1 boss
2 sai
3 bala

In [59]:
''' 17. Write a Python program print all elements of the list using for loop and range().
    Data:
        name = ['boss', 'sai', 'bala']
    Expected Output:
        boss
        sai
        bala '''

name = ['boss', 'sai', 'bala']

for n in name:
    print(n)

boss
sai
bala

In [1]:
# 18. Write a Python program to print without newline or space.
for i in range(1,6):
    print(i,end="")

12345

In [60]:
''' 19. Write a Python program to print expected output using enumerate() from the data given below.
    Data:
        x = ["suresh", "boss", "siva", "bala", "sai", "balu", "karthi"] 
    Expected Output:
        President 1: suresh
        President 2: boss
        President 3: siva
        President 4: bala
        President 5: sai
        President 6: balu
        President 7: karthi '''
   for i, name in ennumerate(x, start=1):
       print(f"President){i}:{name}")

IndentationError: unexpected indent (635132646.py, line 12)

In [58]:
''' 20. Write a Python program to print expected output using enumerate() from the data given below.
    Data:
        name = ["suresh", "boss", "siva", "bala"]
        ratios = [0.2, 0.3, 0.1, 0.4]
    Expected Output:
        20.0% suresh
        30.0% boss
        50.0% siva
        40.0% bala '''
    for i,val in ennumerate(name):
           %=ratios[i]*100
           prnt(f"{percentage:.1f}%{val}")

IndentationError: unexpected indent (1596575182.py, line 10)